.footer__module {
  background-color: #053339;
  padding: 40px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-serif);
}

@media screen and (max-width: 1000px) {
    .footer__module {
        padding: 20px;
    }
}